@import url("../NavBar/NavBar.css");

.main-landingpage {
    animation: change-background 20s infinite;
    padding-top: 6rem;
    padding-inline: var(--h5);
    width: 100%;
    min-height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@keyframes change-background {
    0%, 10% {background-image: url(https://www.aprilgroup.com.au/media/mwmhk44s/feature-holt-and-hart.jpg);}
    20%, 30% {background-image: url(https://www.aprilgroup.com.au/media/d4ldjscb/feature-habitat-house-2.jpg);}
    40%, 50% {background-image: url(https://www.aprilgroup.com.au/media/q4sngvjh/clarence-og.jpg);}
    60%, 70% {background-image: url(https://www.aprilgroup.com.au/media/iltlvral/feature-80cooper.jpg);}
    80%, 90% {background-image: url(https://www.aprilgroup.com.au/media/rivlyxsu/feature-paddington-place-2.jpg);}
    100% {background-image: url(https://www.aprilgroup.com.au/media/f52pgg23/lisgar-house_website-slideshow.png);}
}

.main-content {
    margin-block-start: 8rem;
    color: var(--white);
}

.main-content h1 {
    font-weight: 400;
    max-width: 800px;
    font-size: 1rem;
    text-wrap: balance;
}

.main-content hr {
    margin-block-end: 1rem;
    margin-block-start: 1rem;
}

ul {
    padding-inline-start: var(--h5);
    line-height: 1;
}

@keyframes auto-scroll {
    0%, 10% {
        transform: translateY(0);
    }
    20%, 30% {
        transform: translateY(-1em);
    }
    40%, 50% {
        transform: translateY(-2em);
    }
    60%, 70% {
        transform: translateY(-3em);
    }
    80%, 90% {
        transform: translateY(-4em);
    }
    100% {
        transform: translateY(-5em);
    }
}

.company-list {
   height: 1em;
   overflow: hidden;
}

.company-list li {
  animation: auto-scroll 20s infinite;
  /* z-index: 2; */
}

.scroll-down {
    cursor: pointer;
}


@media (min-width: 800px) {
    .main-content {
        margin-block-start: 14rem;
        color: var(--white);
        padding: 10px;
    }
    
    .main-content h1 {
        font-weight: 400;
        max-width: 800px;
        text-wrap: balance;
    }
   
}