@layer base {
  :root {
    /* colors */
    --white: #ffffff;
    --black: #000;
    --orange: #ffa500;
    --lightgray:#6664649a;

    /* fonts */
    --decorative: "Montserrat", sans-serif;
    --sans: "Open Sans", sans-serif;

    /* font scale */
    --base-size: 1.2rem;
    --scale: 1.15;
    --xl: calc(var(--h1) * var(--scale) * var(--scale)); /* 7.15rem */
    --lg: calc(var(--h1) * var(--scale)); /* 4.575rem */
    --h1: calc(var(--h2) * var(--scale)); /* 3.66rem */
    --h2: calc(var(--h3) * var(--scale)); /* 2.93rem */
    --h3: calc(var(--h4) * var(--scale)); /* 2.34rem */
    --h4: calc(var(--h5) * var(--scale)); /* 1.875rem */
    --h5: calc(var(--h6) * var(--scale)); /* 1.5rem */
    --h6: var(--base-size); /* 1.2rem */
    --small: calc(var(--base-size) / var(--scale)); /* 0.96rem */

    /* other variables */
    --radius: 5px;
  }

  /* add border box sizing to the page right from the start */
  html {
    box-sizing: border-box;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
}


.header-bar {
  padding: var(--h5);
  position: fixed;
  width: 100%;
  color: var(--white);
  z-index: 99;
}

.add-header-style{
  background-color: var(--black);
  font-weight: 100;
}

h1 span {
  font-weight: 100;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  color: var(--white);
}

.nav-bar {
  display: none;
}

.nav-bar.open {
  display: flex;
  flex-direction: column;
  font-family: var(--sans);
  line-height: 1.5;
  font-size: var(--base-size);
  /* padding-top: var(--h2); */
  gap: var(--h6);
}

.link {
  color: var(--white);
  text-decoration: none;
}

.link:nth-child(7) {
  font-size: var(--small);
}

.link:nth-child(8) {
  margin-block-end: 7rem;
}

.nav-footer-bar {
  display: flex;
  gap: var(--small);
  font-size: var(--small);
}

@media (min-width: 800px) {
  .nav-bar{
    display: block;
  }

  .hambugger{
    display: none;
  }

  .header-bar {
    display: flex;
    justify-content: space-between;
  }
  
  .header-bar h1 {
    margin-top: -0.5rem;
  }

  .header-bar hr {
    display: none;
  }

  .link:first-child, .link:last-child{
    display: none;
  }

  .nav-bar {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: var(--xl);
    justify-content: space-between;
    font-weight: bolder;
  }
}